@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'runda', sans-serif;
}

.container {
  /* max-width: 900px;
  margin: 30px auto; */
  overflow: auto;
  height: 100vh;
  /* min-height: 300px; */
  border: 1px solid steelblue;
  /* padding: 30px; */
  border-radius: 5px;
  display: flex;
}

.header {
  display: flex;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  background-color: black;
}

.header h1 {
  color: white;
  padding: 20px;

}

.left-side {
  height: 100%;
  width: 50vw;
  background-color: lightgray;
}

.right-side {



}

.section {
  padding: 2rem 5rem;
  border-bottom: 1px solid black;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.section-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.builder {
  /* height: calc(100% - 11rem); */
  /* overflow: scroll; */
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.education {
  display: flex;
  flex-direction: column!important;
  gap: 2rem!important;
  margin-bottom: 1rem;

}

.education-info {
  position: relative;
  height: 3rem
}

.education-info-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% + 2rem);
  padding: 1rem;
  
}

.delete-education {

  position: absolute;
    right: -4rem;
    top: 2rem;
    border: none;
    outline: none;
    background: none;

}

.eduI-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: visible;
  gap: 1.5rem;
  margin-top: 2rem;
}

#edu-item-info {
  display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

#edu-item-info h1 {
  margin: 0;
  font-size: 1rem;
}

#edu-item-info p {
  margin: 0;
  font-size: .9rem;
  color: #9d9b9b;
}

.education-info-summary {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.expInfo {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.expInfo h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

/* .section-form .add-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0;
  overflow: visible;
  gap: 1.5rem;
  margin-top: 2rem;
} */

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
