@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'runda', sans-serif;
  overflow-x: hidden; 
} 



.container {
  overflow: auto;
  height: 100vh;
  border-radius: 5px;
  display: flex;
}

.header {
  display: flex;
  background: #14171d;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  align-items: center;
  background: #14171d;
  border-bottom: 1px solid #202530;
}

.header h1 {
  color: white;
  padding: 20px;

}

.header h1 span {
  color: #56c9aa;
}

.left-side {
  height: 100%;
  width: 50vw;
  background: #14171d;
}

.right-side {
  position: relative;
  background: #14171d;
  width: 50vw;
  overflow: scroll;

}

.main-page {
  width: 210mm;
  min-height: 297mm;
  margin: 10mm auto;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.sub-page {
  padding: 1em;
  height: 297mm;
}
@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
  width: 210mm;
  height: 297mm;        
  }
  .main-page {
  margin: 0;
  border: initial;
  border-radius: initial;
  width: initial;
  min-height: initial;
  box-shadow: initial;
  background: initial;
  page-break-after: always;
  }
}

.print-btns {
  display: flex;
    position: absolute;
    top: 5px;
    right: 10px;
    gap: 10px;
}

.section {
  padding: 2rem 5rem;
  border-bottom: 1px solid black;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #56c9aa;
}

.section-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.builder {
  height: calc(100%); 
  overflow: scroll;
  border-right: 1px solid #202530;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background: orange;  
}

.btn {
  display: inline-block;
    background: none;
    /* color: #fff; */
    border: none;
    padding: 8px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: inherit;
}

.print-pdf-btn {
  margin-right: 5px;
  color: #ddd;
  font-size: 20px;
  background: none;
  border: none;
  text-decoration: none;
}
.print-pdf-btn:hover {
  cursor: pointer;
  color: #56c9aa;
  
}

.btn:focus {
  outline: none;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.education {
  display: flex;
  flex-direction: column!important;
  gap: 1rem!important;
  margin-bottom: 1rem;

}

.experience {
  display: flex;
  flex-direction: column!important;
  margin-bottom: 1rem;
  gap: 1rem!important;
}

.education-info {
  position: relative;
  height: 3rem
}

.education-info-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100%);
  padding: 1rem;
  background: none;
  border: none;
  
}

.education-info-btn:hover {
  border-radius: 1rem;
  border: 1px solid #56c9aa;
}

.delete-education {

  position: absolute;
    right: -3rem;
    top: 2rem;
    border: none;
    outline: none;
    background: none;

}

.eduI-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: visible;
  gap: 1.5rem;
  margin-top: 2rem;
}

.expI-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: visible;
  gap: 1.5rem;
  margin-top: 2rem;
}

.section-form .input-field svg {
  width: 6rem;
  stroke:  #56c9aa;
  stroke-width: 3;
  fill: none;
  margin-top: 1.5rem;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.section-form .input-field.period {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-form .add-btn-round {
  display: grid;
  place-content: center;
  background-color: #56c9aa8f;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  transition: all .3s ease-in-out;
}


#edu-item-info {
  display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

#edu-item-info h1 {
  margin: 0;
  font-size: 1rem;
  color: #ebedef;
}

#edu-item-info p {
  margin: 0;
  font-size: .9rem;
  color: #9d9b9b;
}

.education-info-summary {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.expInfo {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.expInfo h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  
}

.eduI-form .education-form, .eduI-form .experience-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem!important;
}

.section-form .eduI-form div {
  display: flex;
  /* gap: 3rem; */
}

.add-form .form {
  transform: scaleY(1);
  transform-origin: top;
  height: 100%;
  transition: transform .3s ease-in-out;
  gap: 1rem;
}

.section-form .add-button {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  color: #c0c5ce;
  font-weight: 500;
  margin-top: 1rem;
  transition: all .3s ease-in-out;
}

.section-form .add-button:hover {
  cursor: pointer;
}

.delete-education svg {
  color: #c0c5ce;

}

.delete-education svg:hover {
  color: #56c9aa;
}

.section-form .description {
  color: #c0c5ce;
}

.delete-education:hover {
  cursor: pointer;
  
}

.add-form .form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 0; */
  overflow: visible;
  gap: 1.5rem;
  margin-top: 2rem;
}

.add-form .form div {
  display: flex;
  gap: 3rem;
}

.add-form .input-field {
  position: relative;
  width: 100%;
}

.add-form .input-field label {
  position: absolute;
  left: 2px;
  top: 0;
  font-size: .9rem;
  font-weight: 500;
  color: #838383;
}

.add-form input, .add-form textarea {
  border: 1px solid rgb(226,226,226);
  box-sizing: border-box;
  border-radius: 5px;
  padding: calc(1rem + 1px);
  margin-top: 1.5rem;
  width: 100%;
  font-size: .9rem;
  color: #191919;
  outline: none;
  transition: border-color .2s ease-in-out;
}

.form .btn {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 15%;
  border: 1px solid;
  background: transparent;
  color: #56c9aa;
  border-color: #56c9aa;
  border-radius: 100px;

}

.general-info {
  width: 100%;
}

.general-info h1 {
  font-weight: 400;
  margin-bottom: 14px;
  
}

.contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  margin: auto;
  width: fit-content;
  margin-bottom: 10px;
}

.pdf-heading {
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.pdf-heading h1 {
  font-size: 17px;
  font-weight: 600;
}

.pdf-contents {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pdf-contents h2 {
  font-size: 17px;
  font-weight: 600;
}

.pdf-contents h4 {
  font-size: 15px;
  font-weight: 200;
  font-style: italic;
  float: right;
}
.pdf-contents #left-items h4  {
  float: left;
}



#p_wrap {
  white-space: pre-line;
  margin-left: 1em;
}

footer {
  margin-top: 30px;
  text-align: center;
}
